<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
  <title>AssetTracker - List</title>
</head>

<body>
  <noscript>
    You'll need to turn on JavaScript in your browser to use AssetTracker.
  </noscript>
  <div id="app">
    {{{body}}}
  </div>
</body>

</html>
