<h1>We couldn't find this page</h1>
<h6>How on Earth did you get here?</h6>
<div class="error">
  4<img src="/images/404.png" alt="404 error"/>4
</div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eh7lp9umG2I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<script type="module" src="./js/error.js"></script>
