<h1>Device List</h1>
{{#if data}}
  <div id="deviceList">
    <ul>
      {{#each data}}
        <li>{{this.name}}
      {{/each}}
    </ul>
  </div>
{{else}}
  <p>There are currently no devices to display.</p>
{{/if}}
<p>Download a map of campus for your reference <a href="/images/map.jpg" download="Campus Map">here</a>.</p>
<p>You can estimate the time required to arrive at each device's destination using the <a href="/locate">Device Locator</a>, or add another device <a href="/add">here</a>.
<script type="module" src="./js/list.js"></script>
