<h1>Device Locator</h1>
<h6>Please be mindful and limit checking unneeded destination times. The Google Distance Matrix API is not free.</h6>
<p>For more information on MSU Denver, <a href="https://msudenver.edu" target="_blank">visit our site</a>.
<script type="module" src="./js/locate.js"></script>
