html, body {
  margin: 0;
  height: 100%;
  width: 100vw;
  font-family: Avenir Next, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px;
}

/*Main content styling*/
#app {
  padding-top: 50px;
  text-align: center;
}

/*Homepage carousel*/
#introCarousel {
  max-height: calc(100vh - 50px);
  max-width: calc(100vw);
  overflow: hidden;
}

/*Navigation bar*/
#nav {
  background-color: #00447c;
  color: white;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

/*Navigation icons*/
#nav>a>img {
  height: 20px;
  color: white;
  padding: 0px 10px;
}

/*Listbox*/
#deviceList {
  height:250px;
  width:100%;
  overflow-y: auto;
  background-color: #717073;
  color: #fff;
  padding: 10px 0px;
  text-align: left;
}

/*Add device form*/
form {
  text-align: left;
  padding: 20px 20px
}

h1 {
  background-color: #d11242;
  color: #fff;
  padding: 0;
  margin: 0;
}

h6 {
  color: darkgray;
}

ul {
  list-style-type: square;
}

/*Device to display location*/
.devLoc {
  padding: 0px 10px;
  text-align: left;
}

/*Error message*/
.error {
  font-size: 190px;
  color: #d11242
}
