/*html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}*/
body {
  margin: 0;
  /*font: 16px Sans-Serif;*/
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px;
}

#nav {
  background: #00447c;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
}

#nav>a>img {
  height: 100%;
  width: 5%;
  color: white;
  padding: 0px 10px;
}
