html, body {
  background-color: #00447c;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px;
}

/*Main content styling*/
#app {
  padding-top: 50px;
}

#introCarousel {
  max-height: calc(100vh - 50px);
  max-width: calc(100vw);
  overflow: hidden;
}

/*Nav bar styling*/
#nav {
  background-color: #00447c;
  color: white;
  padding: 10px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/*Nav icon styling*/
#nav>a>img {
  height: 20px;
  color: white;
  padding: 0px 10px;
}

li, form {
  color: white;
}
